In [ ]:
!pip install sdv

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sdv
  Downloading sdv-0.17.1-py2.py3-none-any.whl (102 kB)
     |████████████████████████████████| 102 kB 3.7 MB/s
Requirement already satisfied: numpy<2,>=1.20.0 in /usr/local/lib/python3.7/dist-packages (from sdv) (1.21.6)
Collecting deepecho<0.4,>=0.3.0.post1
  Downloading deepecho-0.3.0.post1-py2.py3-none-any.whl (26 kB)
Collecting cloudpickle<3.0,>=2.1.0
  Downloading cloudpickle-2.2.0-py3-none-any.whl (25 kB)
Collecting graphviz<1,>=0.13.2
  Downloading graphviz-0.20.1-py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 4.3 MB/s
Collecting copulas<0.8,>=0.7.0
  Downloading copulas-0.7.0-py2.py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 1.6 MB/s
Collecting sdmetrics<0.8,>=0.7.0.dev0
  Downloading sdmetrics-0.7.0-py2.py3-none-any.whl (131 kB)
     |████████████████████████████████| 131 kB 38.0 MB/s
Collecting ctgan<0.6,>=0.5.2
  Downloading ctgan-0.5.2-py2.py3-none-any.whl (24 kB)
Collecting Faker<15,>=10
  Downloading Faker-14.2.1-py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 46.4 MB/s
Requirement already satisfied: tqdm<5,>=4.15 in /usr/local/lib/python3.7/dist-packages (from sdv) (4.64.1)
Collecting rdt<1.3.0,>=1.2.0
  Downloading rdt-1.2.1-py2.py3-none-any.whl (61 kB)
     |████████████████████████████████| 61 kB 365 kB/s
Requirement already satisfied: pandas<2,>=1.1.3 in /usr/local/lib/python3.7/dist-packages (from sdv) (1.3.5)
Requirement already satisfied: scipy<2,>=1.5.4 in /usr/local/lib/python3.7/dist-packages (from copulas<0.8,>=0.7.0->sdv) (1.7.3)
Collecting matplotlib<4,>=3.4.0
  Downloading matplotlib-3.5.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (11.2 MB)
     |████████████████████████████████| 11.2 MB 43.5 MB/s
Requirement already satisfied: torchvision<1,>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from ctgan<0.6,>=0.5.2->sdv) (0.13.1+cu113)
Requirement already satisfied: packaging<22,>=20 in /usr/local/lib/python3.7/dist-packages (from ctgan<0.6,>=0.5.2->sdv) (21.3)
Requirement already satisfied: torch<2,>=1.8.0 in /usr/local/lib/python3.7/dist-packages (from ctgan<0.6,>=0.5.2->sdv) (1.12.1+cu113)
Requirement already satisfied: scikit-learn<2,>=0.24 in /usr/local/lib/python3.7/dist-packages (from ctgan<0.6,>=0.5.2->sdv) (1.0.2)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from Faker<15,>=10->sdv) (2.8.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from Faker<15,>=10->sdv) (4.1.1)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.8,>=0.7.0->sdv) (3.0.9)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.37.4-py3-none-any.whl (960 kB)
     |████████████████████████████████| 960 kB 56.8 MB/s
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.8,>=0.7.0->sdv) (7.1.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.8,>=0.7.0->sdv) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.8,>=0.7.0->sdv) (1.4.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2,>=1.1.3->sdv) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->Faker<15,>=10->sdv) (1.15.0)
Collecting pyyaml<6,>=5.4.1
  Downloading PyYAML-5.4.1-cp37-cp37m-manylinux1_x86_64.whl (636 kB)
     |████████████████████████████████| 636 kB 48.3 MB/s
Collecting psutil<6,>=5.7
  Downloading psutil-5.9.2-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (281 kB)
     |████████████████████████████████| 281 kB 44.6 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<2,>=0.24->ctgan<0.6,>=0.5.2->sdv) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<2,>=0.24->ctgan<0.6,>=0.5.2->sdv) (3.1.0)
Collecting plotly<6,>=5.10.0
  Downloading plotly-5.10.0-py2.py3-none-any.whl (15.2 MB)
     |████████████████████████████████| 15.2 MB 36.5 MB/s
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly<6,>=5.10.0->sdmetrics<0.8,>=0.7.0.dev0->sdv) (8.0.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.2->sdv) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.2->sdv) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.2->sdv) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.2->sdv) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.2->sdv) (2.10)
Installing collected packages: fonttools, pyyaml, psutil, matplotlib, Faker, rdt, plotly, copulas, sdmetrics, graphviz, deepecho, ctgan, cloudpickle, sdv
  Attempting uninstall: pyyaml
    Found existing installation: PyYAML 6.0
    Uninstalling PyYAML-6.0:
      Successfully uninstalled PyYAML-6.0
  Attempting uninstall: psutil
    Found existing installation: psutil 5.4.8
    Uninstalling psutil-5.4.8:
      Successfully uninstalled psutil-5.4.8
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.2.2
    Uninstalling matplotlib-3.2.2:
      Successfully uninstalled matplotlib-3.2.2
  Attempting uninstall: plotly
    Found existing installation: plotly 5.5.0
    Uninstalling plotly-5.5.0:
      Successfully uninstalled plotly-5.5.0
  Attempting uninstall: graphviz
    Found existing installation: graphviz 0.10.1
    Uninstalling graphviz-0.10.1:
      Successfully uninstalled graphviz-0.10.1
  Attempting uninstall: cloudpickle
    Found existing installation: cloudpickle 1.5.0
    Uninstalling cloudpickle-1.5.0:
      Successfully uninstalled cloudpickle-1.5.0
Successfully installed Faker-14.2.1 cloudpickle-2.2.0 copulas-0.7.0 ctgan-0.5.2 deepecho-0.3.0.post1 fonttools-4.37.4 graphviz-0.20.1 matplotlib-3.5.3 plotly-5.10.0 psutil-5.9.2 pyyaml-5.4.1 rdt-1.2.1 sdmetrics-0.7.0 sdv-0.17.1

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

path = "/content/drive/MyDrive/Colab Notebooks/data/Responses_31.csv"
data = pd.read_csv(path)

# Dataset is now stored in a Pandas Dataframe

In [ ]:
data.head()

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Sex,Jaundice,Family_mem_with_ASD,Who completed the test
0,1,1,1,1,1,1,1,1,0,1,1,48.0,m,no,no,clinician
1,2,1,1,0,0,1,1,1,0,1,1,36.0,m,no,no,clinician
2,3,1,0,0,1,1,0,1,1,1,0,36.0,m,no,no,caregiver
3,4,1,1,0,1,1,1,1,1,1,0,42.0,m,no,no,caregiver
4,5,1,0,0,0,1,1,1,0,0,1,21.6,f,no,no,caregiver

In [ ]:
from sdv.tabular import CopulaGAN

model = CopulaGAN()
model.fit(data)

/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

In [ ]:
new_data = model.sample(num_rows=40)

In [ ]:
new_data.head()

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Sex,Jaundice,Family_mem_with_ASD,Who completed the test
0,16,1,0,0,1,1,1,1,0,1,1,48.0,m,No,yes,caregiver
1,28,1,0,0,0,1,0,0,0,1,1,45.3,m,No,no,caregiver
2,12,1,0,1,0,0,0,0,0,1,0,48.0,m,No,No,Clinician
3,21,1,1,0,0,0,0,1,1,1,1,48.0,m,Yes,no,Caregiver
4,27,0,0,0,1,0,1,0,0,0,0,48.0,m,Yes,no,Medical Staff

In [ ]:
new_data

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Sex,Jaundice,Family_mem_with_ASD,Who completed the test
0,16,1,0,0,1,1,1,1,0,1,1,48.0,m,No,yes,caregiver
1,28,1,0,0,0,1,0,0,0,1,1,45.3,m,No,no,caregiver
2,12,1,0,1,0,0,0,0,0,1,0,48.0,m,No,No,Clinician
3,21,1,1,0,0,0,0,1,1,1,1,48.0,m,Yes,no,Caregiver
4,27,0,0,0,1,0,1,0,0,0,0,48.0,m,Yes,no,Medical Staff
5,3,0,0,1,1,1,0,1,0,1,1,48.0,f,No,No,caregiver
6,5,1,1,0,0,0,1,0,0,0,1,47.9,m,No,Yes,clinician
7,9,1,0,0,0,1,0,1,0,1,1,48.0,f,No,No,clinician
8,15,1,0,0,1,1,0,0,0,1,0,48.0,m,NaN,No,caregiver
9,10,1,0,0,0,1,1,1,1,1,1,48.0,m,NaN,no,medical staff
10,2,1,1,1,0,1,1,1,1,1,0,19.7,m,yes,Yes,Clinician
11,3,1,1,0,0,0,0,1,1,1,1,48.0,f,no,No,caregiver
12,21,1,0,0,1,1,1,1,0,0,1,48.0,f,no,no,caregiver
13,1,1,0,0,1,1,0,1,0,1,1,48.0,m,No,No,Clinician
14,8,1,0,0,0,0,1,1,1,0,0,48.0,m,Yes,yes,clinician
15,18,0,1,0,0,0,0,1,1,1,1,48.0,m,no,No,caregiver
16,1,1,1,1,1,1,1,0,0,0,1,48.0,f,No,no,Parent
17,1,1,0,0,0,1,0,1,0,1,1,48.0,m,NaN,no,Medical Staff
18,27,1,0,1,1,1,1,1,0,1,1,34.2,m,yes,yes,clinician
19,19,0,0,0,0,0,0,0,1,1,0,18.0,f,no,No,caregiver
20,2,1,0,0,1,1,0,0,0,0,1,48.0,f,No,No,Clinician
21,2,1,0,0,0,1,1,1,0,0,1,27.4,m,yes,no,Parent
22,2,1,0,0,0,0,1,0,0,1,1,48.0,m,no,no,Clinician
23,21,1,0,1,1,0,1,1,1,0,0,48.0,m,No,No,Parent
24,1,1,0,1,0,0,1,1,1,1,1,45.6,m,No,no,Caregiver
25,25,1,0,0,1,1,1,1,0,0,1,48.0,m,no,No,caregiver
26,6,0,0,0,0,1,1,1,0,0,0,48.0,f,No,no,Clinician
27,26,0,0,1,0,1,1,0,0,1,1,48.0,m,no,no,Clinician
28,10,1,0,1,0,1,0,0,0,0,1,48.0,m,No,Yes,Parent
29,1,1,0,0,1,0,1,1,0,0,1,48.0,m,No,no,medical staff
30,10,1,0,1,0,1,0,0,0,1,1,41.0,f,No,no,caregiver
31,31,1,1,0,0,1,1,1,0,1,0,48.0,m,No,Yes,caregiver
32,26,1,0,0,0,0,0,0,0,0,1,48.0,f,No,yes,Caregiver
33,4,1,0,0,0,1,1,1,0,0,1,21.5,f,no,No,Parent
34,6,1,0,0,0,1,1,0,1,1,1,48.0,m,Yes,No,Clinician
35,3,1,0,0,1,1,0,1,0,0,0,44.9,m,no,no,Clinician
36,26,0,1,0,0,1,1,1,1,1,1,18.5,f,Yes,No,Clinician
37,1,0,0,0,1,0,1,1,0,1,1,48.0,m,no,No,Caregiver
38,25,1,0,0,0,0,0,1,0,0,1,48.0,m,No,no,Parent
39,3,1,1,0,0,1,0,1,1,0,1,48.0,m,no,No,caregiver

In [ ]:
model.save('my_model2.csv')

In [ ]:
loaded = CopulaGAN.load('my_model2.csv')
new_data = loaded.sample(num_rows=40)

Specifying the Primary Key of the table

In [ ]:
data.Case_No.value_counts().max()

1

In [ ]:
new_data[new_data.Case_No == new_data.Case_No.value_counts().index[0]]

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Sex,Jaundice,Family_mem_with_ASD,Who completed the test
2,1,1,0,0,1,1,0,1,1,0,1,48.0,m,No,No,clinician
7,1,1,1,0,0,1,1,0,0,0,1,48.0,m,yes,no,Clinician
24,1,1,1,0,1,1,0,0,0,1,0,47.7,m,yes,No,Parent
30,1,1,0,0,0,0,1,1,1,0,1,41.7,m,Yes,no,Clinician
32,1,1,1,0,0,0,0,0,1,1,1,20.2,m,no,no,Parent
33,1,1,1,1,0,0,0,0,1,1,1,48.0,m,no,No,clinician

In [ ]:
model = CopulaGAN(
    primary_key='Case_No'
)
model.fit(data)
new_data = model.sample(40)
new_data.head()

/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Sex,Jaundice,Family_mem_with_ASD,Who completed the test
0,0,1,0,0,1,1,1,1,0,0,0,48.0,f,No,no,Parent
1,1,1,0,1,1,1,1,1,1,0,0,48.0,m,No,no,caregiver
2,2,1,1,1,0,0,1,0,0,0,0,25.7,f,no,No,clinician
3,3,1,1,1,0,1,0,1,0,0,1,46.9,f,no,No,clinician
4,4,0,0,0,0,1,0,0,0,0,1,48.0,m,no,no,Parent

In [ ]:
new_data

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Sex,Jaundice,Family_mem_with_ASD,Who completed the test
0,0,1,0,0,1,1,1,1,0,0,0,48.0,f,No,no,Parent
1,1,1,0,1,1,1,1,1,1,0,0,48.0,m,No,no,caregiver
2,2,1,1,1,0,0,1,0,0,0,0,25.7,f,no,No,clinician
3,3,1,1,1,0,1,0,1,0,0,1,46.9,f,no,No,clinician
4,4,0,0,0,0,1,0,0,0,0,1,48.0,m,no,no,Parent
5,5,1,1,0,0,1,1,0,0,0,1,31.9,f,No,no,caregiver
6,6,1,0,0,0,1,0,1,0,0,1,48.0,m,No,No,Parent
7,7,0,1,1,1,0,0,0,1,0,0,33.6,m,No,No,caregiver
8,8,1,0,1,0,1,1,1,0,1,1,25.4,f,no,No,caregiver
9,9,1,0,0,0,0,0,1,0,1,0,48.0,m,yes,no,Medical Staff
10,10,1,1,0,0,0,1,1,1,0,1,48.0,m,No,no,Parent
11,11,1,1,1,0,1,0,1,0,1,1,48.0,f,no,no,medical staff
12,12,1,0,0,0,1,0,1,0,0,1,48.0,f,no,No,Parent
13,13,1,1,0,0,1,1,1,0,1,0,48.0,f,no,yes,clinician
14,14,0,0,0,0,1,1,1,0,1,1,48.0,m,No,no,caregiver
15,15,1,1,1,0,1,1,0,1,1,1,48.0,f,yes,no,caregiver
16,16,1,1,0,0,1,0,1,0,0,1,19.6,f,no,no,caregiver
17,17,1,0,1,1,1,0,0,1,0,1,32.6,m,no,no,Medical Staff
18,18,1,1,0,0,1,1,1,0,1,0,47.2,f,No,no,Clinician
19,19,1,0,0,0,0,0,1,0,1,0,48.0,m,yes,No,caregiver
20,20,1,1,0,0,1,1,1,0,1,1,48.0,m,No,yes,clinician
21,21,1,1,0,1,1,0,0,0,0,1,45.0,f,no,no,clinician
22,22,0,1,0,0,1,0,1,0,1,1,48.0,f,no,No,Clinician
23,23,1,1,0,0,1,0,1,0,1,0,37.6,f,NaN,no,Clinician
24,24,1,0,1,0,0,0,1,0,0,1,48.0,m,no,No,Parent
25,25,1,0,1,1,1,0,1,0,1,1,31.2,m,No,no,caregiver
26,26,1,1,1,0,1,1,1,0,1,0,48.0,f,No,No,caregiver
27,27,0,1,1,0,1,0,1,0,1,1,48.0,m,Yes,yes,caregiver
28,28,1,0,1,0,1,0,1,1,1,1,48.0,m,No,No,caregiver
29,29,1,1,1,0,1,0,1,1,0,1,18.1,m,no,no,medical staff
30,30,1,0,0,1,1,0,0,1,1,0,48.0,m,Yes,yes,Clinician
31,31,1,1,1,0,1,1,1,1,0,1,41.8,m,no,no,Medical Staff
32,32,0,1,1,1,1,0,0,0,1,0,20.6,m,No,no,caregiver
33,33,1,0,1,0,1,0,1,0,0,0,48.0,m,Yes,No,Caregiver
34,34,1,0,1,1,1,0,1,0,1,1,48.0,f,No,yes,clinician
35,35,1,1,1,0,0,0,1,1,0,0,48.0,f,No,no,clinician
36,36,1,1,1,0,1,1,1,0,1,1,48.0,m,no,no,Clinician
37,37,1,0,1,0,1,1,0,0,1,1,18.0,f,No,no,caregiver
38,38,1,0,0,1,1,0,0,0,0,1,48.0,m,No,no,Medical Staff
39,39,0,1,1,0,0,1,1,0,0,1,48.0,f,No,No,clinician

In [ ]:
from google.colab import files

new_data.to_csv('df3.csv')
files.download('df3.csv')

Generating 200 rows

In [ ]:
import pandas as pd

path = "/content/drive/MyDrive/Colab Notebooks/data/Responses_Synthetic data.csv"
data1 = pd.read_csv(path)

# Dataset is now stored in a Pandas Dataframe

In [ ]:
data1

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,1,1,1,1,1,1,1,1,0,1,1,48.0,9,m,no,no,clinician,Yes
1,2,1,1,0,0,1,1,1,0,1,1,36.0,7,m,no,no,clinician,Yes
2,3,1,0,0,1,1,0,1,1,1,0,36.0,6,m,no,no,caregiver,Yes
3,4,1,1,0,1,1,1,1,1,1,0,42.0,8,m,no,no,caregiver,Yes
4,5,1,0,0,0,1,1,1,0,0,1,21.6,5,f,no,no,caregiver,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,141,1,1,1,0,0,0,1,1,0,0,48.0,5,f,No,no,clinician,Yes
141,142,1,1,1,0,1,1,1,0,1,1,48.0,8,m,no,no,Clinician,Yes
142,143,1,0,1,0,1,1,0,0,1,1,18.0,6,f,No,no,caregiver,Yes
143,144,1,0,0,1,1,0,0,0,0,1,48.0,4,m,No,no,Medical Staff,Yes
144,145,0,1,1,0,0,1,1,0,0,1,48.0,5,f,No,No,clinician,Yes

In [ ]:
from sdv.tabular import CopulaGAN

model = CopulaGAN()
model.fit(data1)

/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

In [ ]:
new_data1= model.sample(num_rows=200)

In [ ]:
new_data1

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,78,1,1,0,1,1,1,0,1,1,1,35.9,1,m,No,no,Parent,Yes
1,78,0,1,0,0,1,1,0,0,1,1,48.0,2,f,no,no,Medical Staff,Yes
2,14,1,1,0,1,1,1,1,1,0,1,48.0,5,m,No,No,caregiver,Yes
3,15,1,1,0,0,0,0,1,0,1,0,48.0,7,m,No,no,caregiver,No
4,40,1,0,0,0,0,1,1,0,0,0,29.0,3,m,no,No,caregiver,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,7,1,1,0,0,0,0,1,1,1,1,22.2,2,f,No,no,Parent,Yes
196,141,1,1,0,0,1,1,1,0,1,1,42.7,6,f,No,No,Clinician,Yes
197,1,1,1,1,0,0,0,1,0,1,0,39.0,1,m,No,no,caregiver,Yes
198,4,0,1,1,1,0,1,0,0,1,0,30.3,5,f,No,No,Caregiver,Yes
199,36,1,1,0,1,0,1,1,0,1,0,48.0,4,f,no,Yes,caregiver,Yes

Save and share the model

In [ ]:
model.save('my_model2.csv')

Load the model and generate new data

In [ ]:
loaded = CopulaGAN.load('my_model2.csv')
new_data1 = loaded.sample(num_rows=200)

Specifying the Primary Key of the table

In [ ]:
data1.Case_No.value_counts().max()

1

In [ ]:
new_data1[new_data1.Case_No == new_data1.Case_No.value_counts().index[0]]

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
19,2,1,1,0,1,0,0,1,0,1,0,43.2,1,m,no,No,Clinician,No
26,2,1,1,0,0,0,1,1,0,1,0,36.5,3,m,Yes,no,Caregiver,No
33,2,1,0,0,1,0,1,1,0,0,0,21.9,1,f,No,No,clinician,Yes
37,2,1,0,0,1,1,1,0,0,0,0,38.7,1,m,No,no,caregiver,Yes
49,2,1,0,0,0,0,0,0,0,0,1,30.0,2,f,no,no,caregiver,Yes
54,2,1,0,0,1,1,1,0,0,1,1,48.0,6,m,no,no,clinician,No
68,2,1,1,0,1,0,1,1,0,1,0,48.0,6,m,no,No,medical staff,Yes
95,2,1,1,1,0,0,1,0,0,0,1,43.3,3,f,No,No,Medical Staff,No
107,2,1,0,1,0,1,1,0,1,1,0,18.0,5,m,no,no,caregiver,Yes
112,2,1,0,0,1,1,0,1,0,1,0,41.6,2,m,No,no,caregiver,Yes
117,2,1,1,0,0,1,0,1,0,0,0,48.0,4,m,No,no,caregiver,Yes
124,2,1,1,1,0,0,1,1,0,1,1,48.0,2,m,no,Yes,clinician,No
125,2,1,0,1,1,0,0,0,0,1,0,48.0,5,f,Yes,Yes,clinician,Yes
134,2,1,0,0,1,0,0,0,0,1,0,29.6,3,m,No,no,clinician,Yes
143,2,0,1,0,1,0,0,1,0,0,0,36.1,2,f,no,No,caregiver,Yes
152,2,1,1,1,0,1,0,1,1,0,1,48.0,5,f,No,yes,caregiver,No

As a result, the model will learn that this column must be unique and generate a unique sequence of values for the column:

In [ ]:
model = CopulaGAN(
    primary_key='Case_No'
)
model.fit(data)
new_data1 = model.sample(200)
new_data1.head()

/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Sex,Jaundice,Family_mem_with_ASD,Who completed the test
0,0,1,1,0,0,1,0,1,1,0,1,18.0,f,No,no,Clinician
1,1,1,0,0,1,1,0,1,1,1,1,47.4,m,no,No,caregiver
2,2,0,0,0,0,0,0,1,0,0,1,48.0,m,No,no,Clinician
3,3,0,0,0,0,0,1,1,0,0,1,48.0,f,no,no,Parent
4,4,0,0,0,0,0,0,1,1,1,1,37.9,f,NaN,no,Parent

In [ ]:
new_data1

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Sex,Jaundice,Family_mem_with_ASD,Who completed the test
0,0,1,1,0,0,1,0,1,1,0,1,18.0,f,No,no,Clinician
1,1,1,0,0,1,1,0,1,1,1,1,47.4,m,no,No,caregiver
2,2,0,0,0,0,0,0,1,0,0,1,48.0,m,No,no,Clinician
3,3,0,0,0,0,0,1,1,0,0,1,48.0,f,no,no,Parent
4,4,0,0,0,0,0,0,1,1,1,1,37.9,f,NaN,no,Parent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,195,1,0,0,1,0,0,1,0,0,1,48.0,m,No,No,Clinician
196,196,1,0,0,0,0,0,1,0,0,1,48.0,f,No,No,caregiver
197,197,0,1,1,0,0,0,1,0,0,1,46.9,f,No,No,caregiver
198,198,1,0,0,1,1,0,1,1,1,1,48.0,m,No,No,Clinician
199,199,1,0,1,1,1,1,1,1,1,1,48.0,m,No,no,clinician

Download synthetic data with 200 rows

In [ ]:
from google.colab import files

new_data1.to_csv('df3.csv')
files.download('df3.csv')