In [ ]:
!pip install sdv

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sdv
  Downloading sdv-0.17.1-py2.py3-none-any.whl (102 kB)
     |████████████████████████████████| 102 kB 3.9 MB/s
Collecting cloudpickle<3.0,>=2.1.0
  Downloading cloudpickle-2.2.0-py3-none-any.whl (25 kB)
Collecting Faker<15,>=10
  Downloading Faker-14.2.1-py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 28.6 MB/s
Collecting rdt<1.3.0,>=1.2.0
  Downloading rdt-1.2.1-py2.py3-none-any.whl (61 kB)
     |████████████████████████████████| 61 kB 353 kB/s
Collecting ctgan<0.6,>=0.5.2
  Downloading ctgan-0.5.2-py2.py3-none-any.whl (24 kB)
Requirement already satisfied: pandas<2,>=1.1.3 in /usr/local/lib/python3.7/dist-packages (from sdv) (1.3.5)
Collecting graphviz<1,>=0.13.2
  Downloading graphviz-0.20.1-py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 4.6 MB/s
Collecting sdmetrics<0.8,>=0.7.0.dev0
  Downloading sdmetrics-0.7.0-py2.py3-none-any.whl (131 kB)
     |████████████████████████████████| 131 kB 57.0 MB/s
Requirement already satisfied: numpy<2,>=1.20.0 in /usr/local/lib/python3.7/dist-packages (from sdv) (1.21.6)
Collecting deepecho<0.4,>=0.3.0.post1
  Downloading deepecho-0.3.0.post1-py2.py3-none-any.whl (26 kB)
Collecting copulas<0.8,>=0.7.0
  Downloading copulas-0.7.0-py2.py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 1.7 MB/s
Requirement already satisfied: tqdm<5,>=4.15 in /usr/local/lib/python3.7/dist-packages (from sdv) (4.64.1)
Collecting matplotlib<4,>=3.4.0
  Downloading matplotlib-3.5.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (11.2 MB)
     |████████████████████████████████| 11.2 MB 42.0 MB/s
Requirement already satisfied: scipy<2,>=1.5.4 in /usr/local/lib/python3.7/dist-packages (from copulas<0.8,>=0.7.0->sdv) (1.7.3)
Requirement already satisfied: scikit-learn<2,>=0.24 in /usr/local/lib/python3.7/dist-packages (from ctgan<0.6,>=0.5.2->sdv) (1.0.2)
Requirement already satisfied: torchvision<1,>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from ctgan<0.6,>=0.5.2->sdv) (0.13.1+cu113)
Requirement already satisfied: packaging<22,>=20 in /usr/local/lib/python3.7/dist-packages (from ctgan<0.6,>=0.5.2->sdv) (21.3)
Requirement already satisfied: torch<2,>=1.8.0 in /usr/local/lib/python3.7/dist-packages (from ctgan<0.6,>=0.5.2->sdv) (1.12.1+cu113)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from Faker<15,>=10->sdv) (2.8.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from Faker<15,>=10->sdv) (4.1.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.8,>=0.7.0->sdv) (7.1.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.8,>=0.7.0->sdv) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.8,>=0.7.0->sdv) (1.4.4)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=3.4.0->copulas<0.8,>=0.7.0->sdv) (3.0.9)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.37.4-py3-none-any.whl (960 kB)
     |████████████████████████████████| 960 kB 34.5 MB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2,>=1.1.3->sdv) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->Faker<15,>=10->sdv) (1.15.0)
Collecting psutil<6,>=5.7
  Downloading psutil-5.9.2-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (281 kB)
     |████████████████████████████████| 281 kB 39.2 MB/s
Collecting pyyaml<6,>=5.4.1
  Downloading PyYAML-5.4.1-cp37-cp37m-manylinux1_x86_64.whl (636 kB)
     |████████████████████████████████| 636 kB 51.3 MB/s
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<2,>=0.24->ctgan<0.6,>=0.5.2->sdv) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<2,>=0.24->ctgan<0.6,>=0.5.2->sdv) (1.1.0)
Collecting plotly<6,>=5.10.0
  Downloading plotly-5.10.0-py2.py3-none-any.whl (15.2 MB)
     |████████████████████████████████| 15.2 MB 37.2 MB/s
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly<6,>=5.10.0->sdmetrics<0.8,>=0.7.0.dev0->sdv) (8.0.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.2->sdv) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.2->sdv) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.2->sdv) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.2->sdv) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan<0.6,>=0.5.2->sdv) (3.0.4)
Installing collected packages: fonttools, pyyaml, psutil, matplotlib, Faker, rdt, plotly, copulas, sdmetrics, graphviz, deepecho, ctgan, cloudpickle, sdv
  Attempting uninstall: pyyaml
    Found existing installation: PyYAML 6.0
    Uninstalling PyYAML-6.0:
      Successfully uninstalled PyYAML-6.0
  Attempting uninstall: psutil
    Found existing installation: psutil 5.4.8
    Uninstalling psutil-5.4.8:
      Successfully uninstalled psutil-5.4.8
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.2.2
    Uninstalling matplotlib-3.2.2:
      Successfully uninstalled matplotlib-3.2.2
  Attempting uninstall: plotly
    Found existing installation: plotly 5.5.0
    Uninstalling plotly-5.5.0:
      Successfully uninstalled plotly-5.5.0
  Attempting uninstall: graphviz
    Found existing installation: graphviz 0.10.1
    Uninstalling graphviz-0.10.1:
      Successfully uninstalled graphviz-0.10.1
  Attempting uninstall: cloudpickle
    Found existing installation: cloudpickle 1.5.0
    Uninstalling cloudpickle-1.5.0:
      Successfully uninstalled cloudpickle-1.5.0
Successfully installed Faker-14.2.1 cloudpickle-2.2.0 copulas-0.7.0 ctgan-0.5.2 deepecho-0.3.0.post1 fonttools-4.37.4 graphviz-0.20.1 matplotlib-3.5.3 plotly-5.10.0 psutil-5.9.2 pyyaml-5.4.1 rdt-1.2.1 sdmetrics-0.7.0 sdv-0.17.1

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

path = "/content/drive/MyDrive/Colab Notebooks/data/Responses_31.csv"
data = pd.read_csv(path)

# Dataset is now stored in a Pandas Dataframe

In [ ]:
data.head()

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Sex,Jaundice,Family_mem_with_ASD,Who completed the test
0,1,1,1,1,1,1,1,1,0,1,1,48.0,m,no,no,clinician
1,2,1,1,0,0,1,1,1,0,1,1,36.0,m,no,no,clinician
2,3,1,0,0,1,1,0,1,1,1,0,36.0,m,no,no,caregiver
3,4,1,1,0,1,1,1,1,1,1,0,42.0,m,no,no,caregiver
4,5,1,0,0,0,1,1,1,0,0,1,21.6,f,no,no,caregiver

In [ ]:
from sdv.tabular import CTGAN

In [ ]:
model = CTGAN()

In [ ]:
model.fit(data)

/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

In [ ]:
new_data = model.sample(num_rows=40)

In [ ]:
new_data

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Sex,Jaundice,Family_mem_with_ASD,Who completed the test
0,4,0,0,0,0,0,0,1,0,0,1,47.8,f,No,yes,caregiver
1,9,1,1,1,0,0,1,1,0,1,0,48.0,m,No,no,Clinician
2,11,0,1,1,0,1,0,1,1,0,1,48.0,m,No,No,clinician
3,31,1,0,0,0,1,0,1,0,0,1,46.7,m,no,Yes,Parent
4,17,0,0,0,0,0,0,0,0,0,1,48.0,f,No,yes,caregiver
5,2,1,1,0,0,0,1,0,1,0,0,41.9,f,No,No,Parent
6,14,0,1,0,0,0,1,1,1,1,1,46.6,m,No,yes,Parent
7,31,1,1,0,1,0,0,1,1,1,1,48.0,m,No,no,Parent
8,30,0,0,1,0,1,0,1,0,1,1,45.6,f,no,Yes,caregiver
9,28,0,1,0,0,0,0,1,1,0,1,48.0,m,No,no,caregiver
10,13,1,1,0,0,1,0,1,0,0,0,48.0,m,No,No,Parent
11,1,0,1,1,0,1,0,1,0,0,0,39.2,f,No,Yes,Clinician
12,1,0,1,0,0,1,0,1,0,1,0,48.0,m,No,No,medical staff
13,25,0,0,0,1,0,0,0,0,1,0,48.0,m,NaN,no,Clinician
14,15,1,0,0,0,0,0,0,1,0,0,48.0,f,no,no,Clinician
15,25,0,0,1,0,0,1,0,0,0,1,48.0,m,No,no,caregiver
16,28,1,0,0,0,1,0,1,1,1,0,48.0,f,No,no,Clinician
17,31,0,0,0,0,0,0,1,0,0,0,48.0,m,no,No,clinician
18,31,1,1,0,0,1,1,1,1,1,0,48.0,f,no,No,Parent
19,23,1,0,0,1,1,1,1,1,1,1,47.5,f,No,no,caregiver
20,31,0,1,1,0,1,0,0,0,0,0,48.0,m,No,no,clinician
21,31,1,1,0,0,1,1,1,0,0,0,48.0,m,NaN,no,Parent
22,1,1,0,0,0,1,0,1,1,0,0,48.0,f,No,No,Parent
23,1,1,0,0,0,0,1,1,0,1,0,38.4,m,no,No,Parent
24,30,1,0,0,0,0,0,0,0,0,1,48.0,m,No,No,clinician
25,26,1,0,0,0,1,1,1,1,0,0,22.0,m,No,No,caregiver
26,1,0,0,0,0,0,0,1,0,0,1,48.0,f,No,No,Medical Staff
27,15,1,1,0,0,1,1,0,1,1,0,48.0,m,No,No,clinician
28,1,0,1,1,0,1,0,1,0,0,0,47.6,f,no,No,Parent
29,28,1,1,0,0,1,0,1,1,0,0,48.0,m,no,No,Clinician
30,1,0,1,0,0,1,1,0,1,1,1,41.4,f,no,No,Parent
31,1,1,1,0,0,0,0,1,1,0,1,48.0,m,yes,no,caregiver
32,3,1,1,0,0,1,0,1,0,0,0,48.0,m,yes,No,Medical Staff
33,1,0,0,0,0,1,1,1,0,0,0,46.7,f,No,No,Parent
34,6,0,0,0,0,0,1,1,0,0,0,43.5,m,No,no,clinician
35,6,1,0,0,1,0,0,1,1,0,1,29.8,f,no,no,Parent
36,13,0,0,0,0,0,1,1,0,1,1,48.0,m,No,No,caregiver
37,24,1,0,1,1,1,1,1,1,0,1,48.0,f,No,yes,caregiver
38,31,1,1,0,1,1,1,1,0,0,1,47.6,f,No,no,caregiver
39,1,1,0,0,0,1,1,1,1,1,0,41.9,m,No,no,Medical Staff

In [ ]:
model.save('my_model1.csv')

In [ ]:
loaded = CTGAN.load('my_model1.csv')
new_data = loaded.sample(num_rows=40)

Specifying the Primary Key of the table

In [ ]:
data.Case_No.value_counts().max()

1

In [ ]:
new_data[new_data.Case_No == new_data.Case_No.value_counts().index[0]]

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Sex,Jaundice,Family_mem_with_ASD,Who completed the test
0,1,1,1,1,0,0,0,0,0,0,1,48.0,m,No,No,Caregiver
1,1,1,1,0,0,1,1,0,1,0,0,48.0,m,No,No,caregiver
6,1,0,1,1,0,0,0,1,0,0,0,48.0,f,No,No,Parent
7,1,0,0,0,0,1,1,1,0,0,0,48.0,m,no,No,clinician
9,1,1,0,0,0,1,0,1,1,0,1,48.0,f,No,no,caregiver
14,1,1,1,0,0,1,0,1,1,1,0,48.0,m,No,No,caregiver
18,1,0,1,0,0,0,0,1,1,1,1,35.6,m,No,no,medical staff
20,1,1,1,1,0,0,1,1,0,0,0,48.0,m,no,No,Parent
27,1,0,0,0,0,1,1,1,1,0,1,48.0,f,no,No,clinician
35,1,0,0,0,0,1,0,0,0,0,1,48.0,f,No,No,Parent

In [ ]:
model = CTGAN(
    primary_key='Case_No'
)
model.fit(data)
new_data = model.sample(40)
new_data.head()

/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Sex,Jaundice,Family_mem_with_ASD,Who completed the test
0,0,1,0,1,0,1,0,1,1,1,0,48.0,f,No,No,caregiver
1,1,1,0,0,0,1,0,1,0,1,0,48.0,f,No,no,Parent
2,2,1,1,0,1,1,1,1,0,0,1,48.0,m,No,no,caregiver
3,3,1,1,0,0,0,0,0,1,1,1,48.0,f,no,no,Clinician
4,4,0,0,0,0,0,0,1,0,1,1,48.0,m,no,no,caregiver

In [ ]:
new_data

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Sex,Jaundice,Family_mem_with_ASD,Who completed the test
0,0,1,0,1,0,1,0,1,1,1,0,48.0,f,No,No,caregiver
1,1,1,0,0,0,1,0,1,0,1,0,48.0,f,No,no,Parent
2,2,1,1,0,1,1,1,1,0,0,1,48.0,m,No,no,caregiver
3,3,1,1,0,0,0,0,0,1,1,1,48.0,f,no,no,Clinician
4,4,0,0,0,0,0,0,1,0,1,1,48.0,m,no,no,caregiver
5,5,1,0,1,1,0,0,1,1,0,1,48.0,m,yes,no,caregiver
6,6,1,1,0,1,0,0,1,1,1,1,48.0,f,no,yes,Caregiver
7,7,1,0,0,0,1,0,1,0,0,1,48.0,f,No,no,Caregiver
8,8,1,0,1,0,0,1,1,1,0,1,47.1,m,No,Yes,Clinician
9,9,1,0,1,1,0,0,1,0,1,1,48.0,f,no,no,Medical Staff
10,10,1,1,0,1,1,1,1,0,0,1,48.0,m,no,no,Parent
11,11,1,0,1,1,0,0,1,0,0,0,32.0,f,no,No,clinician
12,12,1,0,0,0,0,0,1,0,1,1,48.0,f,no,No,Parent
13,13,0,0,1,1,0,1,1,1,1,0,48.0,m,No,No,clinician
14,14,1,0,0,1,1,0,1,0,1,0,48.0,f,No,no,Parent
15,15,1,0,0,1,0,1,1,0,1,1,48.0,f,No,No,clinician
16,16,1,0,1,1,1,1,1,1,1,1,44.1,m,Yes,No,caregiver
17,17,1,1,1,0,0,1,1,1,0,0,44.4,f,yes,No,Parent
18,18,1,0,0,0,0,1,0,0,1,1,48.0,f,no,No,Parent
19,19,0,1,0,1,0,0,1,0,0,1,48.0,f,No,no,Clinician
20,20,1,0,0,1,1,0,1,0,1,0,48.0,f,No,No,caregiver
21,21,0,0,0,1,0,1,1,0,0,0,48.0,f,no,no,medical staff
22,22,1,1,0,0,1,1,1,1,1,1,48.0,m,no,No,clinician
23,23,1,0,0,1,0,0,1,0,1,0,48.0,m,No,No,Parent
24,24,1,0,0,0,1,1,0,1,1,0,48.0,f,No,no,clinician
25,25,1,1,0,1,1,1,1,0,0,1,48.0,m,no,No,caregiver
26,26,1,0,0,1,0,0,1,0,1,1,48.0,m,no,No,caregiver
27,27,1,1,0,1,0,1,1,1,0,0,48.0,f,no,no,Medical Staff
28,28,0,0,0,1,1,0,1,1,0,0,48.0,m,Yes,Yes,Parent
29,29,0,0,1,1,1,0,1,0,0,1,48.0,m,No,no,Clinician
30,30,1,1,1,1,0,0,1,0,1,1,48.0,m,no,no,Parent
31,31,1,0,0,0,1,0,1,0,1,1,48.0,f,no,No,caregiver
32,32,1,0,0,0,0,0,1,0,0,0,48.0,m,no,no,clinician
33,33,0,0,1,0,1,1,1,1,1,1,46.6,m,Yes,No,caregiver
34,34,0,0,0,1,0,0,0,0,1,1,48.0,f,Yes,No,caregiver
35,35,0,1,0,0,0,1,1,1,1,0,48.0,m,No,No,clinician
36,36,0,0,1,0,0,0,0,1,1,0,48.0,f,No,no,Caregiver
37,37,0,0,0,1,1,1,1,1,1,1,48.0,m,No,Yes,Clinician
38,38,0,1,0,0,0,0,1,1,1,1,48.0,m,No,No,caregiver
39,39,0,0,0,0,0,0,0,0,0,1,46.1,m,No,no,Clinician

In [ ]:
from google.colab import files

new_data.to_csv('df2.csv')
files.download('df2.csv')

Generating 200 rows

In [ ]:
import pandas as pd

path = "/content/drive/MyDrive/Colab Notebooks/data/Responses_Synthetic data.csv"
data1 = pd.read_csv(path)

# Dataset is now stored in a Pandas Dataframe

In [ ]:
data1

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,1,1,1,1,1,1,1,1,0,1,1,48.0,9,m,no,no,clinician,Yes
1,2,1,1,0,0,1,1,1,0,1,1,36.0,7,m,no,no,clinician,Yes
2,3,1,0,0,1,1,0,1,1,1,0,36.0,6,m,no,no,caregiver,Yes
3,4,1,1,0,1,1,1,1,1,1,0,42.0,8,m,no,no,caregiver,Yes
4,5,1,0,0,0,1,1,1,0,0,1,21.6,5,f,no,no,caregiver,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,141,1,1,1,0,0,0,1,1,0,0,48.0,5,f,No,no,clinician,Yes
141,142,1,1,1,0,1,1,1,0,1,1,48.0,8,m,no,no,Clinician,Yes
142,143,1,0,1,0,1,1,0,0,1,1,18.0,6,f,No,no,caregiver,Yes
143,144,1,0,0,1,1,0,0,0,0,1,48.0,4,m,No,no,Medical Staff,Yes
144,145,0,1,1,0,0,1,1,0,0,1,48.0,5,f,No,No,clinician,Yes

In [ ]:
from sdv.tabular import CTGAN

In [ ]:
model = CTGAN()

In [ ]:
model.fit(data1)

/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

In [ ]:
new_data1= model.sample(num_rows=200)

In [ ]:
new_data1

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,20,1,0,0,1,1,1,1,1,1,1,45.4,6,m,No,Yes,caregiver,No
1,145,1,0,0,1,1,1,1,0,0,1,47.5,2,m,No,No,caregiver,Yes
2,71,1,1,0,0,0,1,1,0,1,1,48.0,8,f,yes,Yes,Parent,Yes
3,145,1,0,0,0,0,0,1,0,1,0,48.0,3,m,no,No,clinician,No
4,118,0,1,0,1,0,1,1,1,0,0,48.0,6,m,no,no,caregiver,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,145,1,0,0,0,1,0,0,0,1,0,48.0,1,m,No,no,caregiver,Yes
196,123,1,0,0,0,1,0,1,0,1,1,48.0,3,m,no,No,Clinician,Yes
197,1,0,1,0,1,0,1,0,1,0,1,48.0,8,f,No,No,Clinician,Yes
198,64,1,0,0,0,1,0,1,0,1,1,48.0,1,m,No,no,Medical Staff,Yes
199,115,1,0,0,0,0,1,1,1,1,1,48.0,1,f,no,No,caregiver,No

Save and share the model

In [ ]:
model.save('my_model2.csv')

Load the model and generate new data

In [ ]:
loaded = CTGAN.load('my_model2.csv')
new_data1 = loaded.sample(num_rows=200)

Specifying the Primary Key of the table

In [ ]:
data1.Case_No.value_counts().max()

1

In [ ]:
new_data1[new_data1.Case_No == new_data1.Case_No.value_counts().index[0]]

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
3,145,1,0,0,1,1,1,0,0,0,1,48.0,1,m,No,No,caregiver,Yes
7,145,0,1,0,0,0,0,0,1,1,1,48.0,3,m,no,No,clinician,Yes
11,145,1,0,0,1,1,1,0,1,1,1,48.0,2,m,No,No,Parent,Yes
12,145,1,1,0,0,1,0,0,0,1,1,48.0,4,m,No,No,Parent,Yes
14,145,1,1,0,1,0,0,0,0,1,1,48.0,7,m,no,No,clinician,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,145,1,0,1,0,1,0,1,1,0,1,48.0,1,m,no,No,clinician,Yes
191,145,1,1,0,0,1,1,1,0,1,1,48.0,6,m,no,no,clinician,Yes
192,145,0,0,0,0,0,0,0,0,1,1,48.0,1,f,No,No,caregiver,Yes
196,145,1,1,1,1,0,0,0,1,1,1,48.0,3,f,no,No,caregiver,No
198,145,0,0,0,0,1,0,0,1,1,1,48.0,1,m,No,yes,Clinician,No

As a result, the model will learn that this column must be unique and generate a unique sequence of values for the column:

In [ ]:
model = CTGAN(
    primary_key='Case_No'
)
model.fit(data1)
new_data1 = model.sample(200)
new_data1.head()

/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/usr/local/lib/python3.7/dist-packages/ctgan/data_transformer.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,0,1,1,1,1,1,0,1,0,1,1,35.7,3,f,No,no,caregiver,Yes
1,1,0,1,1,1,0,1,1,0,0,1,48.0,10,m,No,no,clinician,Yes
2,2,1,1,0,1,1,0,1,1,0,1,48.0,6,f,No,yes,medical staff,Yes
3,3,0,0,1,1,1,0,0,0,0,0,48.0,6,m,No,no,clinician,Yes
4,4,1,0,0,0,1,1,1,0,1,0,47.1,1,f,no,no,medical staff,Yes

In [ ]:
new_data1

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,0,1,1,1,1,1,0,1,0,1,1,35.7,3,f,No,no,caregiver,Yes
1,1,0,1,1,1,0,1,1,0,0,1,48.0,10,m,No,no,clinician,Yes
2,2,1,1,0,1,1,0,1,1,0,1,48.0,6,f,No,yes,medical staff,Yes
3,3,0,0,1,1,1,0,0,0,0,0,48.0,6,m,No,no,clinician,Yes
4,4,1,0,0,0,1,1,1,0,1,0,47.1,1,f,no,no,medical staff,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,195,0,0,0,1,1,1,1,0,1,1,45.0,7,f,No,no,clinician,Yes
196,196,0,0,0,1,0,1,0,1,1,0,48.0,3,f,No,No,clinician,Yes
197,197,1,1,0,1,1,0,1,0,1,1,34.6,3,m,No,no,Clinician,Yes
198,198,0,1,0,1,0,1,1,1,0,0,45.2,6,m,no,No,Parent,Yes
199,199,1,0,0,1,1,0,1,1,1,1,45.4,1,m,yes,yes,caregiver,Yes

Download synthetic data with 200 rows

In [ ]:
from google.colab import files
new_data1.to_csv('df2.csv')
files.download('df2.csv')